@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  height: 100vh;
  background-color: #674baf;
  background-image: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.main {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.main .main__logo {
  width: 40%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.main .main__img {
  margin-top: 1rem;
  width: 100%;
}

.main__secondSection {
  text-align: center;
}

.main .main__header {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.main .main__paragraph {
  margin-bottom: 1.5rem;
}

.main .main__btn {
  background-color: white;
  color: #674baf;
  width: 70%;
  height: 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  font-size: small;
  opacity: 90%;
  -webkit-box-shadow: 0px 1px 3px black;
          box-shadow: 0px 1px 3px black;
}

.main .main__footer {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.main .main__footer .fa-twitter {
  margin: 0 1rem 0 1rem;
}

.main .main__footer .fab {
  width: 34px;
  height: 34px;
  padding: .5rem;
  border: white 1px solid;
  border-radius: 100%;
}

.main .main__footer .fab .fab:active {
  color: #e882e8;
  border: #e882e8 1px solid;
}

.main .main__footer .fab .fab:hover {
  cursor: pointer;
}

@media screen and (min-width: 1270px) {
  body {
    background-image: url("/images/bg-desktop.svg");
    background-size: contain;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
  }
  .main__firstSection {
    width: 55%;
  }
  .main__secondSection {
    margin: 230px 0 0 3.5rem;
    height: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    text-align: left;
  }
  .main .main__logo {
    width: 30%;
    display: block;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  .main .main__img {
    margin: 0;
    width: 100%;
  }
  .main .main__header {
    margin: 0;
    font-size: 40px;
  }
  .main .main__paragraph {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .main .main__btn {
    margin: 0;
    margin-bottom: 25px;
    font-size: 18px;
    width: 40%;
    height: 55px;
    border-radius: 30px;
  }
  .main .main__footer {
    margin: 0;
    position: absolute;
    bottom: 3rem;
    right: 71.15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
  .main .main__footer .fab:active {
    color: #e882e8;
    border: #e882e8 1px solid;
  }
  .main .main__footer .fab:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 421px) and (max-width: 1270px) {
  .main .main__btn {
    width: 30%;
  }
}

@media (min-width: 1270px) and (max-height: 700px) {
  .main .main__secondSection .main__btn {
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */