@import 'config';

body 
{
    overflow: auto;
    height: 100vh;
    background-color: $primaryColorViolet;
    background-image: url("/images/bg-mobile.svg");
    // background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% auto;

    color: white;
    font-family: $bodyFontFamily;
}
.main
{
    height:100%;
    width:80%;
    margin: 0 auto;

    #{&}__logo
        {
            width:40%;
            margin-top: 2rem;
            margin-bottom: 3rem;
        }

    #{&}__img
    {
        margin-top: 1rem;
        width: 100%;
    }

    &__secondSection
    {
        text-align: center;
    }

    #{&}__header
    {
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-family: $headingFontFamily;
    }

    #{&}__paragraph
    {
        margin-bottom: 1.5rem;
    }

    #{&}__btn
    {
        background-color: white;
        color:$primaryColorViolet;
        width: 70%;
        height: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-size: small;
        opacity: 90%;
        box-shadow: 0px 1px 3px black;
    }

    #{&}__footer
    {
        margin-top: 4rem;
        margin-bottom: 3rem;

        .fa-twitter
        {
            margin:0 1rem 0 1rem;
        }

        .fab {
            width: 34px;
            height: 34px;
            padding:.5rem;
            border: white 1px solid;
            border-radius: 100%;

            .fab:active 
            {
                color:$primaryColorMagneta;
                border: $primaryColorMagneta 1px solid;
            }
            
            .fab:hover 
            {
                cursor: pointer;
            }

        }
    }
}

@import 'responsive';